<launch>
  <arg name="manager_name" default="vio_nodelet_manager"/>
  <arg name="calibration_file"
       default="$(find basalt_ros1)/config/subt_qav500_vga_cam_calib.yaml"/>

  <node pkg="basalt_ros1" type="vio_node"
    name="vio_node"	clear_params="true" output="screen">
      <param name="calibration_file" value="$(arg calibration_file)"/>
    <!--
	allow for extra rotation/translation between basalt world
	and real world
	<rosparam param="extra_translation">[0.0, 0.0, 0.0]</rosparam>
	<rosparam param="extra_rotation">[0.0, 0.0, 0.0, 1.0]</rosparam>
    -->
    <param name="world_frame_id" value="world"/>
    <param name="odom_frame_id" value="odom"/>
    <remap from="~left_image" to="/X4/front/left/image_raw" />
    <remap from="~right_image" to="/X4/front/right/image_raw" />
    <rosparam param="imu_topics">["imu"]</rosparam>
    <remap from="~imu" to="/X4/imu_data" />
  </node>

</launch>
